  body{
    margin:0 ;
    font-family: sans-serif;
    background-color: #F0F2F5;
  }
  
  .container{
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh; 
  text-align: center;
}

.left-box{
  margin-bottom: 70px;
  margin-top: 30px;
  margin-right: 100px;
  height: 12rem;
  width: 35rem;
  
}

.face-book{
  color: #1877F2;
  text-align: left;
  font-size: 70px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  margin: 10px;
}

#fa{
  font-size: 20px;
  text-align: left;
  color: #4B434A;
  
}

.right-box{
border-radius: 10px;
height: 340px;
width:370px;
padding: 20px;
background-color: #FFFFFF;
margin-top: 45px;
box-shadow: 0 4px 8px rgba(0,0,0,.3);
}


input{
 padding: 18px;
 width: 85%;
 margin: 7px;
 border-radius: 5px;
 border: 1px solid #ddd;
 font-size: 16px;
 outline: none;
}

input:focus {
  border-color: #1877F2;
}

.login{
  padding: 15px;
  width:97% ;
  border-radius: 7px;
  border: 2px solid #1877F2;
  margin-top: 7px;
  background-color: #1877F2;
  color: #FFFFFF;
  font-size: 16px;
  cursor: pointer;

}

.login:hover{
  background-color: #1565C0;
}

a{
  color: #1877F2;
    text-decoration: none;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
  
}

.new-account{
  color: #FFFFFF;
  background-color: #36A420;
  padding: 14px;
  width: 60%;
  border-radius: 5px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.new-account:hover{
  background-color:#33B320 ;
}
@media screen and (max-width: 768px) {
  .container{
    
    flex-direction: column;
      align-items: center;
      height: auto;

  }

 body{
  margin: auto;
  text-align: center;
 }

 .left-box {
  margin-right: 0;
  margin-bottom: 20px;
  width: 400px;
  text-align: center;
  font-size: 5px;
  margin: 0 auto;
    padding: 0;
}
}

.right-box {
  width: 70%;
  margin-top: 50px;
  top: 0;
}

.face-book{
  font-size: 50px;
}



